{% extends "base.html" %}
{% block localscript %}

    <script>
        function logout() {
            $.ajaxSetup({cache: true});
            $.getScript('https://connect.facebook.net/en_US/sdk.js', function () {
                FB.init({
                    appId: '2082306215317727',
                    version: 'v2.7' // or v2.1, v2.2, v2.3, ...
                });

                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {
                        FB.logout(function (response) {

                            window.location.href = "../";

                        });
                    }
                });


            });
        }
    </script>

{% endblock localscript %}
{% block menu %}
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
                    aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="#"></a>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 3</a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse justify-content-end" id="nav-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="text-center">Bem vindo </h1>

            </div>
        </div>

    </div>

{% endblock %}