<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Algoo Projeto</title>
        <meta charset="UTF-8">
        <script type="text/javascript" charset="UTF-8" src="{% static 'libs/jquery/jquery.js' %}"></script>
        <script type="text/javascript" charset="UTF-8" src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
        <link href="{% static 'libs/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        {% block localscript %}{% endblock localscript %}
    </head>
    <body>
        {% block menu %}{% endblock menu %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>